Java.gitignore
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml___jb_tmp___
*.bin
app/app.iml
.idea/caches/build_file_checksums.ser
local.properties
.gradle/5.4.1/executionHistory/executionHistory.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/5.4.1/fileHashes/resourceHashesCache.bin
.gradle/5.4.1/javaCompile/classAnalysis.bin
.gradle/5.4.1/javaCompile/javaCompile.lock
.gradle/5.4.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/assetWizardSettings.xml
.idea/caches/build_file_checksums.ser
app/app.iml
.idea/workspace.xml
local.properties
app/Dataholics-app.iml
.gradle/5.6.4/fileHashes/fileHashes.bin
.gradle/5.6.4/javaCompile/classAnalysis.bin
.gradle/5.6.4/fileHashes/fileHashes.bin
*.lock
*.bin
